* {
  margin: 0;
  padding: 0;
}

nav {
  width: 380px;
  margin: 0 auto;
  display: flex;
}

ul {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

li {
  list-style-type: none;
}

.tab {
  font-size: 2rem;
}

.tab:hover {
  cursor: pointer;
}